doctype html
html
  head
    title Coah2
    link(rel='stylesheet', href='/css/app.css')

  body
    #main

    script#template_main(type='text/template')
      h1 <%- title %>
      p <%- content %>
      input(value!='<%- content %>')

    if process.env.NODE_ENV == 'production'
      script(src='/js/app.js')
    else
      script(data-main='/js/config.js', src='/js/require.js')

